/* Reset style untuk menghilangkan margin dan padding bawaan */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #8a2d2d;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 36px;
}

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    background-color: #ffbebe;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: 30%;
    border-radius: 5px;
}


h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: #abbaba;
    color: #000;
  }